<!DOCTYPE HTML>
<html lang="ja">
<head>
<meta charset="utf-8" />
<title>Time Keeper</title>
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.1/css/v4-shims.css">

</head>
<body>
  <div id="app">
    <div class="navbar">
      <i class="fas fa-stopwatch"> Time Keeper</i>
      <button @click="standby" :class="{ clicked: sflg }" class="fa fa-stop"> STANDBY</button>
      <button @click="start" :class="{ clicked: toggle }" class="fa fa-play" :disabled="toggle"> START</button>
      <button @click="pause" :class="{ clicked: pflg }" class="fa fa-pause"> PAUSE</button>
      <input type="text" v-model="firstBell"></input>
      <input type="text" v-model="secondBell"></input>
      <input type="text" v-model="thirdBell"></input>
    </div>
    <div class="status has-text-centered">
      <span>{{ status }}</span>
    </div>
    <div class="time has-text-centered">
      <span>{{ time }}</span>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>
